<section class="wrapper main-wrapper row" style=''>

  <div class='col-xs-12'>
    <div class="page-title">

      <div class="pull-left">
        <h1 class="title">Ordonance scannées</h1>
      </div>
      <div [hidden]="true">
        <!--<qr-code id="qrCode" [value]="qrCodeVelue" [size]="150"></qr-code>-->
      </div>

      <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
          <li>
            <a href="index-2.html"><i class="fa fa-home"></i>Home</a>
          </li>
          <li>
            <a href="hos-doctors.html">Pharmacies</a>
          </li>
          <li class="active">
            <strong>Ordonance scannées</strong>
          </li>
        </ol>
      </div>

    </div>
  </div>
  <div class="clearfix"></div>

  <div class="col-lg-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Point E</h2>
        <div class="actions panel_actions pull-right">
          <a class="box_toggle fa fa-chevron-down"></a>
        </div>
      </header>
      <div class="content-body">
        <div class="row">
          <div class="col-md-12">

            <select class="form-control input-lg m-bot15">
              <option value="neant">Selectionnez un pharmacie</option>
              <option>Pharmacie Sope Naby/ Adresse : 339707534</option>
            </select>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="clearfix"></div>
    </section>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="col-sm-12 col-md-12">
        <div class="team-member ">
          <div class="team-img">
            <img style="height: 300px; width: 450px;" class="img-responsive" src="assets/images/pharmacie.jpg" alt="">
          </div>
          <div class="team-info">
            <h3><a href="hos-doctor-profile.html">Pharmacie Sope Naby</a></h3>
            <span class='team-member-edit'><a href="hos-doctor-edit.html"><i class='fa fa-pencil icon-xs'></i></a></span>
            <span>Ablaye Séne</span>
          </div>
          <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="col-lg-12">
        <section class="box nobox marginBottom0">
          <div class="content-body">
            <div class="row">
              <div class="col-md-6">
                <div class="r4_counter db_box">
                  <i class='pull-left fa fa-file-pdf-o icon-md icon-rounded icon-primary'></i>
                  <div class="stats">
                    <h4><strong>125 Scannées</strong></h4>
                    <span>Nombre total d'ordonance scannées</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="r4_counter db_box">
                  <i class='pull-left fa fa-file-pdf-o icon-md icon-rounded icon-accent'></i>
                  <div class="stats">
                    <h4><strong>103 payées</strong></h4>
                    <span>Nombre total d'ordonance payées</span>
                  </div>
                </div>
              </div>
            </div> <!-- End .row -->
            <br><br><br>
            <div class="row">
              <div class="col-md-7">
                <div class="team-member ">
                  <div class="team-info">
                    <h3><strong>Derniere scan</strong> : 21/04/2018</h3>
                    <span>par Assane SYLLA</span>
                  </div>
                  <p> The surgical specialties are the specialties in which an important part of diagnosis and treatmentby surgery. </p>

                </div>
              </div>
              <div class="col-md-5">
                <chart style="height: 180px; display:block;" [options]="options"></chart>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  </section>
