<section class="wrapper main-wrapper row" style=''>

  <div class='col-xs-12'>
    <div class="page-title">

      <div class="pull-left">
        <h1 class="title">Pharmacie Sope Naby</h1>
      </div>

    </div>
  </div>

  <div class="clearfix"></div>
  <div class="col-lg-12">
    <section class="box nobox marginBottom0">
      <div class="content-body">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
              <i class='pull-left fa fa-dollar icon-md icon-rounded icon-primary'></i>
              <div class="stats">
                <h4><strong>17500FCFA</strong></h4>
                <span>Aujourd'hui</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
              <i class='pull-left fa fa-dollar icon-md icon-rounded icon-accent'></i>
              <div class="stats">
                <h4><strong>175000FCFA</strong></h4>
                <span>La semaine</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
              <i class='pull-left fa fa-dollar icon-md icon-rounded icon-purple'></i>
              <div class="stats">
                <h4><strong>798000FCFA</strong></h4>
                <span>Le mois</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="r4_counter db_box">
              <i class='pull-left fa fa-dollar icon-md icon-rounded icon-warning'></i>
              <div class="stats">
                <h4><strong>9674500FCFA</strong></h4>
                <span>L'année</span>
              </div>
            </div>
          </div>
        </div> <!-- End .row -->
      </div>
    </section></div>


  <div class="clearfix"></div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <section class="box ">
      <div class="content-body">    <div class="row">
        <div class="col-xs-12">
          <div class="chart-container">
            <chart style="display:block;" [options]="options2"></chart>
          </div>
        </div>
      </div> <!-- End .row -->
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <section class="box ">
      <div class="content-body">    <div class="row">
        <div class="col-xs-12">
          <div class="chart-container">
            <chart style="display:block;" [options]="options1"></chart>
          </div>
        </div>
      </div> <!-- End .row -->
      </div>
    </section>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-4">
    <br><br>
    <div class="">
      <div class="r4_counter db_box">
        <i class='pull-left fa fa-money icon-md icon-rounded icon-primary'></i>
        <div class="stats">
          <h4><strong>175 payées</strong></h4>
          <span>Nombre d'ordonances payées</span>
        </div>
      </div>
    </div>
    <br>
    <div class="">
      <div class="r4_counter db_box">
        <i class='pull-left fa fa-ban icon-md icon-rounded icon-primary'></i>
        <div class="stats">
          <h4><strong>45 non payées</strong></h4>
          <span>Nombre d'ordonances non payées</span>
        </div>
      </div>
    </div>
    <br>
    <div class="">
      <div class="r4_counter db_box">
        <i class='pull-left fa fa-warning icon-md icon-rounded icon-primary'></i>
        <div class="stats">
          <h4><strong>35 fraudes</strong></h4>
          <span>Nombre d'ordonances fraudées</span>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-12">
    <section class="box ">
      <header class="panel_header">
        <h2 class="title pull-left">Visitor's Statistics</h2>
      </header>
      <div class="content-body">    <div class="row">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker  *ngFor="let position of positions" [label]='position.label' [latitude]="position.latitude" [longitude]="position.longitude">
          </agm-marker>
        </agm-map>
      </div> <!-- End .row -->

      </div>
    </section></div>


</section>
